<section class="painting">
  <div class="painting-details">
    {{!-- Name of Project --}}
    <h3>{{project.title}}</h3>
    {{!-- Amount of Money Needed --}}
    <p>{{project.needed_funding}} needed!</p>

    <p>Created by {{user.name}} on {{ format_date project.date_created}}</p>
  </div>
  <div>
    {{project.description}}
  </div>
</section>